<div class="row">
  {{#each teams}}
  <div class="row">
    <h4 class="text-white m-2">Team</h4>
    <div class="media-content">
      <form class="delete-form" action="/profile/{{_id}}/delete" method="GET">
        <div class="card-deck"> <!-- Nueva clase para agrupar las tarjetas en una fila -->
          {{#each this.champions}}
          <div class="card text-bg-dark mb-3 d-inline-block m-4" style="max-width: 18rem;"> <!-- Agregamos la clase d-inline-block para mostrar las tarjetas en línea -->
            <div class="card-header">Champion</div>
            <div class="card-body">
              <h5 class="card-title">{{this.championName}}</h5>
              <img src="{{ this.url }}" alt="" style="width: 80px;" class="m-4 row">
              <div class="item-images d-flex"> <!-- Agregamos la clase d-flex para alinear las imágenes de los objetos en una fila -->
                <img src="{{#if item1}}http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item1}}.png{{else}}https://ddragon.leagueoflegends.com/cdn/13.13.1/img/spell/Summoner_UltBookPlaceholder.png{{/if}}" width="22" alt="" height="22">
                <img src="{{#if item2}}http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item2}}.png{{else}}https://ddragon.leagueoflegends.com/cdn/13.13.1/img/spell/Summoner_UltBookPlaceholder.png{{/if}}" width="22" alt="" height="22">
                <img src="{{#if item3}}http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item3}}.png{{else}}https://ddragon.leagueoflegends.com/cdn/13.13.1/img/spell/Summoner_UltBookPlaceholder.png{{/if}}" width="22" alt="" height="22">
                <img src="{{#if item4}}http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item4}}.png{{else}}https://ddragon.leagueoflegends.com/cdn/13.13.1/img/spell/Summoner_UltBookPlaceholder.png{{/if}}" width="22" alt="" height="22">
                <img src="{{#if item5}}http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item5}}.png{{else}}https://ddragon.leagueoflegends.com/cdn/13.13.1/img/spell/Summoner_UltBookPlaceholder.png{{/if}}" width="22" alt="" height="22">
                <img src="{{#if item6}}http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item6}}.png{{else}}https://ddragon.leagueoflegends.com/cdn/13.13.1/img/spell/Summoner_UltBookPlaceholder.png{{/if}}" width="22" alt="" height="22">
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <a href="/profile/{{_id}}/delete" class="btn btn-primary m-4" type="submit">Delete <i class="fi fi-br-trash"></i></a>
      </form>
    </div>
  </div>
  {{/each}}
</div>
