<div class="container">
    <h2 class="text-white">- Matches -</h2>
    {{#each matches}}
    <div class="card">
  <div class="card-header">

        <p>Game ID: {{matchId}}</p>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <div class="row">
        <div class="col">
            <h3>Team One</h3><br/>
            {{#each teamOne}}
            <form action="/profile" method="POST">
                <h4 class="bg-green">{{summoner}}</h4> 
                <p>{{ name }}</p>
                <input type="text" name="name" value="{{name}}" hidden> 
                <img src="{{ url }}" alt="" style="width: 80px;" class="m-4"> 
                <input type="text" name="url" value="{{url}}" hidden> 
                <p>KDA: {{kills}}/{{deaths}}/{{assists}}</p>
                <p>Role: {{role}}</p>
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item1}}.png" width="22" alt="" height="22">
                <input type="text" name="item1" value="{{item1}}" hidden> 
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item2}}.png" width="22" alt="" height="22">
                <input type="text" name="item2" value="{{item2}}" hidden> 
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item3}}.png" width="22" alt="" height="22">
                <input type="text" name="item3" value="{{item3}}" hidden> 
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item4}}.png" width="22" alt="" height="22">
                <input type="text" name="item4" value="{{item4}}" hidden> 
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item5}}.png" width="22" alt="" height="22">
                <input type="text" name="item5" value="{{item5}}" hidden>
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item6}}.png" width="22" alt="" height="22">
            {{/each}}
                <button type="submit" class="btn btn-primary mb-3 m-4 row">Save Team <i class="fi fi-rs-disk"></i></button></form>
        </div>
        <div class="col">
            <h3>Team Two</h3><br/>
            {{#each teamTwo}}
            <form action="/profile" method="POST">
                <h4 class="bg-green">{{ summoner }}</h4>
                <p>{{ name }}</p>
                <input type="text" name="name" value="{{name}}" hidden> 
                <img src="{{ url }}" alt="" style="width: 80px;" class="m-4">
                <input type="text" name="url" value="{{url}}" hidden>
                <p>KDA: {{kills}}/{{deaths}}/{{assists}}</p>
                <p>Role: {{role}}</p>
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item1}}.png" width="22" alt="" height="22">
                <input type="text" name="item1" value="{{item1}}" hidden> 
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item2}}.png" width="22" alt="" height="22">
                <input type="text" name="item2" value="{{item2}}" hidden>
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item3}}.png" width="22" alt="" height="22">
                <input type="text" name="item3" value="{{item3}}" hidden> 
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item4}}.png" width="22" alt="" height="22">
                <input type="text" name="item4" value="{{item4}}" hidden>
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item5}}.png" width="22" alt="" height="22">
                <input type="text" name="item5" value="{{item5}}" hidden>
                <img src="http://ddragon.leagueoflegends.com/cdn/13.13.1/img/item/{{item6}}.png" width="22" alt="" height="22">
            {{/each}}
                <button type="submit" class="btn btn-primary mb-4 m-4 row">Save Team <i class="fi fi-rs-disk"></i></button></form>
        </div>
        </div>
    </div>
{{/each}}
</div>
    </blockquote>
  </div>
</div>



    

